<!-- Modal Structure -->
<div id="resetPasswordModal" class="tout">
  <div class="modal-content">
    <div class="reset-password-container">
      <div class="logo-section">
        <img src="logosetal.png" alt="Logo de l'application">
      </div>
      <h3>Réinitialiser votre mot de passe</h3>
      <form (ngSubmit)="onSubmit()">
        <div>
          <label for="newPassword">Nouveau mot de passe:</label>
          <div class="password-input">
            <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" [(ngModel)]="newPassword" name="newPassword" (input)="validatePassword()" (focus)="validatePassword()" required>
            <button type="button" class="toggle-button" (click)="toggleNewPassword()">
              <i class="fa" [ngClass]="{'fa-eye': !showNewPassword, 'fa-eye-slash': showNewPassword}"></i>
            </button>
          </div>
          <div *ngIf="newPasswordError" class="error-message">{{ newPasswordError }}</div>
        </div>
        <div>
          <label for="confirmPassword">Confirmer le mot de passe:</label>
          <div class="password-input">
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" (input)="validateConfirmPassword()" (focus)="validateConfirmPassword()" required>
            <button type="button" class="toggle-button" (click)="toggleConfirmPassword()">
              <i class="fa" [ngClass]="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}"></i>
            </button>
          </div>
          <div *ngIf="confirmPasswordError" class="error-message">{{ confirmPasswordError }}</div>
        </div>
        <button type="submit">Réinitialiser</button>
      </form>
      <a routerLink="/login" class="login">Se connecter ?</a>
      <div *ngIf="message" [ngClass]="{'success': message === 'Mot de passe réinitialisé avec succès.'}" class="message">{{ message }}</div>
    </div>
  </div>
</div>
<!-- Success Modal -->
<div *ngIf="showSuccessModal" class="success-modal">
  {{ successMessage }}
</div>