<app-alertemodale></app-alertemodale>

<div class="signal">

  <div class="container">
    <div class="content">
      <div class="table-container">
        <div class="table-header">
          <div class="search-container">
            <div class="date-filter">
              <input type="date" id="date" [(ngModel)]="selectedDate" (change)="filterAlertesByDate()">
              <span *ngIf="selectedDate">Filtrer les alertes pour le {{ selectedDate | date: 'dd/MM/yyyy' }}</span>
            </div>
            
            

            <div class="search-wrapper">
             <!-- Ajoutez ce champ dans votre template HTML -->
              
              <input
                type="text"
                class="search-input"
                placeholder="Rechercher..."
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearch()"
              />
              <i class="search-icon">🔍</i>
            </div>
          </div>
        </div>
        
        <table>
          <thead>
            <tr>
              <th>Lieux</th>
              <th>Date</th>
              <th>Heure</th>
              <th>Statut</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alerte of paginatedAlertes">
              <td>{{ alerte.adresse }}</td>
              <td>{{ alerte.dateCreation | date:'dd/MM/yyyy' }}</td>
              <td>{{ alerte.dateCreation | date:'HH:mm' }}</td>
              <td [ngClass]="{'status-active': alerte.statut === 'Non traité', 'status-blocked': alerte.statut === 'Traité'}">
                {{ alerte.statut }}
              </td>
              <td>
                <button class="btn-edit" (click)="viewDetails(alerte._id)">
                  <i class="fas fa-file-alt"></i> 
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="pagination">
          <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1"><i class="fas fa-chevron-left"></i> </button>
          <div class="page-number" *ngFor="let page of pages" [class.active]="page === currentPage" (click)="goToPage(page)">
            {{ page }}
          </div>
          <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New modal component for alert details -->
<app-modal-detail-signal *ngIf="selectedAlerteId" 
[alerteId]="selectedAlerteId" 
(closeModal)="closeDetailModal()"    (missionEnvoyee)="openSuccessModal($event)"></app-modal-detail-signal>


<!--message de succes-->
<app-message-succes [showSuccessModal]="showSuccessModal" [successModalMessage]="successModalMessage"></app-message-succes>


  <!-- Modal de succès -->
  <div class="status-change-success-modal-overlay" [class.visible]="showSuccessModal">
    <div class="status-change-success-modal-content">
      <p>{{ successModalMessage }}</p>
    </div>
  </div>


