

.page-container {
  background-color: #f6fdf7; /* Couleur verte avec transparence (30%) */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.login-container {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  height: 80vh;
  
}

.image-section {
  flex: 1.2;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.image-section img {
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  object-fit: cover; /* Assure que l'image couvre toute la section sans déborder */
  object-position: left center; /* Déplace l'image vers la droite */

}

.form-section {
  flex: 1;
  padding: 50px 50px 0 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.form-section h2 {
  margin-bottom: 10px;
  color: #00A551;
}

.form-section p {
  margin-bottom: 20px;
  color: #777;
  font-size: 14px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%; /* Ajuste la largeur du groupe de formulaire pour centrer les inputs */
  margin-left: 20px;
}

.form-group label {
  margin-bottom: 5px;
  color: #555;
}

.toggle-password .fa {
  font-size: 18px;
}

.form-group input {
  width: 100%; /* Utilisez 100% pour que les inputs occupent toute la largeur disponible */
  padding: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  background-color: #f4f4f4;
  box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur totale */
  margin-bottom: 10px;
}

.password-container {
  position: relative;
  width: 100%; /* Assurez-vous que le conteneur du mot de passe a la même largeur */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
  color: #00A551;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

button {
  width: 30%;
  padding: 10px;
  background-color: #00A551;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}


button:disabled {
  background-color: #00A551; /* Couleur verte plus douce */
    cursor: not-allowed;
    opacity: 70%;
  
}

a {
  color: #00A551;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 1280px) and (min-width: 1025px) {
  .login-container {
    flex-direction: row;
    height: auto;
    max-height: none;
  }

  .image-section, .form-section {
    width: 50%;
  }

  .image-section img {
    border-radius: 15px 0 0 15px;
  }

  .form-section {
    padding: 30px;
  }

  .form-group {
    width: 90%;
    margin-left: 20px;
  }

  button {
    width: 50%;
    max-width: 200px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .login-container {
    flex-direction: row;
    height: auto;
    max-height: none;
  }

  .image-section, .form-section {
    width: 50%;
  }

  .image-section img {
    border-radius: 15px 0 0 15px;
  }

  .form-section {
    padding: 30px;
  }

  .form-group {
    width: 90%;
    margin-left: 20px;
  }

  button {
    width: 50%;
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
    max-height: none;
  }

  .image-section, .form-section {
    width: 100%;
  }

  .image-section img {
    border-radius: 15px 15px 0 0;
  }

  .form-section {
    padding: 20px;
  }

  .form-group {
    width: 100%;
    margin-left: 0;
  }

  button {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 95%;
    margin: 10px auto;
  }

  .form-section {
    padding: 15px;
  }

  .form-group input {
    padding: 8px;
    font-size: 14px;
  }

  button {
    padding: 8px;
    font-size: 14px;
  }
}