.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget-password-container {
  background-color: #f6fdf7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #dc3545;
  cursor: pointer;
}

.close:hover {
  color: #c82333;
}

.logo-section {
  margin-bottom: 20px;
}

.logo-section img {
  width: 150px;
  height: auto;
}

h3 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 5px;
  color: #333;
  text-align: left;
  width: 100%;
  margin-right: 350px;
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 15px; /* Augmenter l'espacement sous l'input */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Utilisation de 100% pour que l'input occupe toute la largeur disponible */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

button[type="submit"] {
  padding: 10px;
  background-color: #00A551;
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin: 20px auto 0;
}

button[type="submit"]:hover {
  background-color: #80e2af;
}

/* Message d'erreur */
.error-message {
  color: red;
  margin-top: 8px;
  text-align: left;
}

/* Message de succès */
.message {
  color: green;
  margin-top: 8px;
  text-align: left;
}

.login {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #00A551;
  text-decoration: none;
  font-size: 14px;
}
