<div class="modal-overlay" *ngIf="showModal">
  <div class="forget-password-container">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="logo-section">
      <img src="logosetal.png" alt="Logo de l'application">
    </div>
    <h3>Réinitialiser votre mot de passe</h3>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          #emailField="ngModel"
          required
          (input)="checkEmail()"
        >
        <!-- Affichage des erreurs d'email -->
        <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
        <div *ngIf="message" class="message">{{ message }}</div>
      </div>
      <button type="submit" [disabled]="emailError">Continuer</button>
    </form>
    <a href="/login" class="login">Se connecter ?</a>
  </div>
</div>



