
<app-sidebarre></app-sidebarre>
<div class="admin-main">
    <div class="content-container">
      <div class="pointage-container">
        <h2>Historique des pointages</h2>
  

<table class="pointage-table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Gardien</th>
      <th>Carte</th>
      <th>Date</th>
      <th>Premier Pointage</th>
      <th>Dernier Pointage</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gardien of gardiens; let i = index">
      <td>
        <img [src]="gardien.photo || 'chemin/vers/photo-par-defaut.jpg'" alt="Photo">
      </td>
      <td>{{ gardien.prenom }} {{ gardien.nom }}</td>
      <td>{{ gardien.carte_rfid }}</td>
      <td>{{ gardien.assigned_at | date: 'short' }}</td>
      <td>{{ gardien.premierPointage }}</td>
      <td>{{ gardien.dernierPointage }}</td>
      <td>
        <img
          [src]="gardien.carte_rfid ? '/assigner.png' : '/nonassigner.png'"
          alt="Assignation Carte"
          class="assign-card"
          (click)="openAssignModal(gardien)">
      </td>
       </tr>
      </tbody>
    </table>

        <div class="pagination">
          <button (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
          <span>Page {{ currentPage }} de {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
        </div>
      </div>
    </div>

  </div>
  

  <!-- Modal pour l'assignation de la carte RFID -->
  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Assigner une carte RFID</h2>
      <p>Veuillez scanner la carte RFID</p>
      <input type="text" [(ngModel)]="rfidCardNumber" placeholder="Numéro de carte RFID" readonly>
      <button (click)="confirmAssignRFID()">Assigner</button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
  </div>
  
  <!-- Exemple de ligne d'historique -->
 
  
  
      