.utilisateur-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 260px; /* Espace pour la barre latérale */
  padding: 12px;
  overflow-y: auto;
}

.main-content {
  margin-left: 270px;
  padding: 20px;
}

h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

input[type="date"] {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #d4f7df;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  color: #333;
}





.retard {
  color: red;
  font-weight: bold;
}

.present {
  color: green;
  font-weight: bold;
}

/* Pagination */
.pagination {
display: flex;
justify-content: center;
align-items: center;
margin-top: 1.5rem;
gap: 0.5rem;
}

.pagination button {
background-color: #f5f6fa;
border: 1px solid #e1e1e1;
border-radius: 5px;
width: 32px;
height: 32px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.pagination button:disabled {
opacity: 0.5;
cursor: not-allowed;
}

.page-number {
min-width: 32px;
height: 32px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
padding: 0 5px;
}

.page-number.active {
background-color: #00A551;
color: white;
}

.page-dots {
display: flex;
align-items: center;
justify-content: center;
}