<div class="corps">
  <div class="utilisateur-main">
    <div class="content-container">
      
        <div class="stats-container">
          <div class="stats-row">
            <!-- Stats cards -->
            <div class="stat-card">
              <div class="stat-icon green">
                <i class="fas fa-users"></i>
              </div>
              <div class="stat-info">
                <h2 class="stat-number">{{ nombreUtilisateurs }}</h2>
                <p class="stat-label">Citoyens Inscrits</p>
              </div>
            </div>
            <div class="stat-card">
              <div class="stat-icon green">
                <img src="Group.png" alt="">
              </div>
              <div class="stat-info">
                <h2 class="stat-number">05</h2>
                <p class="stat-label">Points de dépôt disponibles</p>
              </div>
            </div>
          </div>
         
        </div>
        <div class="map-and-stats-container">
          <div class="chart-box">
            <h3 class="title">Trouver un dépôt</h3>
            <div class="chart-wrapper">
              <div id="map-container"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



