<!--partie navebarre-->
<div class="navbar">
    <!-- Logo Section -->
    <div class="navbar-logo">
     
      <span>SETAL DAKAR</span>
    </div>
    
    <!-- Profile Section -->
    <div class="navbar-profile">
      <span class="profile-name">Khalifa Guaye</span>
      <span class="profile-role">Administrateur</span>
      <img src="assets/profile_picture.jpg" alt="Profile" class="profile-img">
    </div>
  </div>


  <!--partie sidebare-->
  <div class="sidebar">
    <!-- Logo Section -->
    <div class="sidebar-logo">
      <img src="logosetal.png" alt="SETAL DAKAR" class="logo-img">
     
    </div>
    
    <!-- Navigation lien -->
    <div class="sidebar-nav">
      <a href="/dashboard" class="nav-link" id="dashboard-link">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
      <a href="/gestion-signals" class="nav-link" id="gestion-signals-link">
        <i class="fas fa-bell"></i>
        <span>Gestion des Signaux</span>
      </a>
      <a href="/gestion-personnel" class="nav-link" id="gestion-personnel-link">
        <i class="fas fa-users"></i>
        <span>Gestion Personnel</span>
      </a>
      <a href="/pointage" class="nav-link" id="pointage-link">
        <i class="fas fa-check-circle"></i>
        <span>Pointage</span>
      </a>
      <a href="/historique" class="nav-link" id="historique-link">
        <i class="fas fa-history"></i>
        <span>Historique</span>
      </a>
    </div>
    
    <!-- deconnexion -->
    <div class="logout">
      <a href="/logout">Déconnecter</a>
    </div>
  </div>
