/* navbar.component.css */
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center; /* Centrage horizontal de la navbar */
  align-items: center; /* Centrage vertical de la navbar */
  background-color: white;


  box-shadow: 0 4px 6px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 15px;
  width: 80%;
  margin-left: 300px;
  height: 130px;
  
 
}

/* Logo Section */
.navbar-logo {
  display: flex;
  justify-content: center; /* Centrer le texte */
  align-items: center;
  flex-grow: 1;
}

.navbar-logo span {
  font-size: 36px;
  font-weight: bold;
  color: #00A551; /* Vert */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),  /* Ombre noire avec flou léger */
    0px 0px 8px rgba(255, 255, 255, 1);
  opacity: 80%;
}

/* Profile Section */
.navbar-profile {
  display: flex;
  flex-direction: column; /* Mise en colonne pour l'image, nom et rôle */
  align-items: center;
  gap: 5px; /* Espacement entre l'image et les infos */
}


/* Modifications pour le bouton triangle */
.triangle-btn {
  background-color: transparent; /* Pas de fond */
  border: none; /* Pas de bordure */
  font-size: 15px; /* Taille du triangle */
  color: #00A551; /* Couleur verte pour le triangle */
  cursor: pointer; /* Curseur pointer pour montrer que c'est cliquable */
  

}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #00A551; /* Bordure verte autour de l'image */
}

/* Logo Section */
.navbar-logo {
  display: flex;
  justify-content: center; /* Centrer le texte */
  align-items: center;
  flex-grow: 1;

}

.navbar-logo span {
  font-size: 36px;
  font-weight: bold;
  color: #00A551; /* Vert */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),  /* Ombre noire avec flou léger */
    0px 0px 8px rgba(255, 255, 255, 1);
  opacity: 80%;

}

/* Profile Section */
.navbar-profile {
  display: flex;
  flex-direction: column; /* Mise en colonne pour l'image, nom et rôle */
  align-items: center;
  gap: 5px; /* Espacement entre l'image et les infos */
}


/* Modifications pour le bouton triangle */
.triangle-btn {
  background-color: transparent; /* Pas de fond */
  border: none; /* Pas de bordure */
  font-size: 15px; /* Taille du triangle */
  color: #00A551; /* Couleur verte pour le triangle */
  cursor: pointer; /* Curseur pointer pour montrer que c'est cliquable */
  

}

.profile {
  display: flex;
  align-items: center;
}


.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  
}



.profile-info {
  display: flex;
  flex-direction: column; /* Alignement vertical pour nom et rôle */
  text-align: center; /* Centrer le texte */
}

.profile-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-top: 5px; /* Marge au-dessus du nom pour l'espacer de l'image */
}

.profile-role {
  font-size: 14px;
  color: gray;
  margin-top: 2px; /* Marge au-dessus du rôle pour l'espacer du nom */
}

/* sidebar.component.css */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #FFFFFF;
  color: #3C3C3C;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: -20px;
}

.logo-img {

  width: 150px;
  height: 150px;
}

.sidebar-nav {
  flex-grow: 1;
  padding-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #3C3C3C;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
  margin: 8px 0;
  border-radius: 8px;
}

.nav-link:hover {
  background-color: #F0F0F0;
  color: #00A551;
}

.nav-link i {
  margin-right: 12px;
  font-size: 18px;
}


.logout {
  padding: 15px;
  text-align: center;
  margin-top: auto;
}


.logout button {
  color: #FF0000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  border: none;
  background-color: #FFFFFF;
}


.button {
  color: #FF0000;                
  font-size: 16px;               
  font-weight: 600;              
  background-color: transparent; 
  border: none;                 
  padding: 0;                    
  margin: 0;                     
  text-align: left;              
  cursor: pointer;              
  font-family: inherit;          
  text-decoration: none;         
}



.logout-icon {
  color: red; /* Red color for the logout icon */
  margin-right: 10px;
}


/* sidebar.component.css */
.nav-link.active {
  color: #00A551; /* Couleur de fond pour le lien actif */
 
}

.nav-link.active i {
  color: #00A551; /* Changer la couleur de l'icône pour le lien actif */
}
